<ul>
  <% posts.each do |post|  %>
    <li>
      <a href="/posts/edit?id=<%= post.id %>"><%= post.title %></a> -
      <a href="/posts/delete?id=<%= post.id %>">Delete</a>
    </li>
  <% end %>
</ul>

<a href="/posts/new">Create new</a>
